.carousel-destaque {
	margin-bottom: 100px;
    position: relative;

	.carousel-destaque--loop {
		margin: 0;
		padding: 0;
		list-style: none;
		img {
			width: 100%;
			display: block;
			padding-left: 4.16666666667%;
			padding-right: 4.16666666667%;
		}
	}
	
	.carousel-destaque--loop-content {
		background-color: #f1f1f1;
	}
}