.center-absolute {
	position: absolute;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    overflow: hidden;
}

.carousel-destaque {
	margin-bottom: 30px;
    position: relative;
	.carousel-destaque--control {
		width: 50px;
		min-height: 180px;
		height: auto;
		right: 4px;
		z-index: 2;
		top: 46%;
		@extend .center-absolute;
		@media only screen and (max-width: 576px) {
			width: 36px;
			top: 8%;
		}
		button {
			width: 40px;
			height: 40px;
			font-size: 32px;
			color: #740d03;
			cursor: pointer;
			overflow: hidden;
			border: none;
			background: 0 0;
			&:focus {
				outline: none;
			}
			&.control__prev {
				position: absolute;
				top: 0;
			}
			&.control__next {
    			bottom: 0;
				position: absolute;
			}
		}
	}
	.carousel-destaque--loop {
		margin: 0;
		padding: 0;
		list-style: none;
		img {
			width: 100%;
			display: block;
			padding-left: 4.16666666667%;
			padding-right: 4.16666666667%;
			@media only screen and (max-width: 576px) {
				padding: 0;
				max-width: 323px;
			}
		}

		.slick-list {
			.slick-slide {
				> div {
					li {
						display: flex !important;
						align-items: center;
						@media only screen and (max-width: 576px) {
							align-items: unset;
							min-height: 490px;
						}
					}
				}
			}
		}

		.slick-dots {
			width: 50px;
			height: auto;
			max-height: 256px;
			padding: 10px 0 30px;
			display: block !important;
			@extend .center-absolute;
			right: 0;
			@media only screen and (max-width: 576px) {
				width: 35px;
				top: 15%;
			}
			li {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0 10px;
				display: block;
				button {
					width: 14px;
					height: 14px;
					display: block;
					background-color: #d9d9d9;
					&:before {
						content: "";
					}
				}
				&.slick-active {
					button {
						background-color: #740d03;
					}
				}
				+ li {
					margin-top: 10px;
				}
			}
		}
	
		.carousel-destaque--loop-content {
			background-color: #f1f1f1;
			max-width: 600px;
			min-height: 275px;
			padding: 1rem 4.16666666667%;
			position: absolute;
			/* top: 28%; */
			@media only screen and (max-width: 576px) {
				bottom: 0;
				max-width: 310px;
				min-height: 222px;
			}
			.carousel-destaque--loop-content-title {
				color: #333333;
				font: {
					size: 40px;
					weight: bold;
				}
				&:hover {
					text-decoration: none;
				}
				@media only screen and (max-width: 576px) {
					font: {
						size: 24px;
						weight: 800;
					}	
				}
				@media only screen and (min-width: 577px) and (max-width: 768px) {
					font: {
						size: 30px;
					}	
				}
			}
			.carousel-destaque--loop-content-description {
				p {
					font: {
						size: 18px;
						weight: 400;
					}
					@media only screen and (max-width: 576px) {
						font: {
							size: 14px;
						}
						margin-top: 1rem;
					}
					@media only screen and (min-width: 577px) and (max-width: 768px) {
						font: {
							size: 16px;
						}	
					}
				}
			}
		}
	}
}

nav.menu-belowheader {
	border-bottom-color: #b4b4b4 !important;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.tainacan-list-post .tainacan-list-collection--container-card {
	display: block !important;
	width: 100%;
	.tainacan-list-collection--card-title {
		max-width: 186px;
		@media only screen and (max-width: 576px) {
			margin-left: 65px;
		}
	}
	img.tainacan-list-collection--grid-img {
		max-width: 170px;
	}
	.image-placeholder {
		@media only screen and (max-width: 576px) {
			margin-right: auto !important;
		}
	}
}

.front-page {
	h1 {
		font-size: 24px;
		font-weight: 600;
	}
	p {
		color: #808081;
		text: {
			align: justify;
			justify: inter-word;
		}
		font: {
			size: 18px;
		}
		&.italic {
			font: {
				style: italic;
			}
		}
	}
	.front-page-list--collection {
		.next-prev-buttons--carousel {
			position: absolute;
			display: block;
			height: 33px;
			width: 45px;
			line-height: 0px;
			font-size: 3.75rem;
			color: #740d03;
			cursor: pointer;
			background: transparent;
			top: 50%;
			@media only screen and (max-width: 576px) {
				top: 60%;
			}
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			padding: 0;
			border: none;
			outline: none;
			z-index: 99;
		}
		.front-page-list--collection-prev {
			@extend .next-prev-buttons--carousel;
			left: -50px;
			@media only screen and (max-width: 576px) {
				left: -25px;
			}
		}
		.front-page-list--collection-next {
			@extend .next-prev-buttons--carousel;
			right: -10px;
			@media only screen and (min-width: 992px) {
				right: -35px;
			}
		}
	}
	&.bg-color {
		background-color: #740d03;
		color: #fff;
		.front-page-historico {
			.media {
				flex-wrap: wrap;
				img {
					max-width: 300px;
				}
				.media-body {
					p {
						margin-left: 4.16666666667%;
						line-height: 1.2;
						@media only screen and (max-width: 576px) {
							margin-top: 1rem;
						}
						color: #fff;
						font-size: 1rem;
    					font-weight: 400;
					}
				}
				margin-bottom: 2rem;
			}
		}
	}
	.front-page-exposicoes {
		p {
			color: #000;
			font-size: 1rem;
		}
	}
	.front-page-grid {
		.front-page-grid-image {
			img {
				max-width: 100%;
				width: 428px;
				max-height: 100%;
				height: 359px;
				object-fit: cover;
				object-position: center top;
			}
		}
		.front-page-grid--planeje-dados {
			color: #000;
			@media only screen and (max-width: 1799px) {
				margin-left: 8.33333333334%;
			}
			padding-left: 0 !important;
			padding-right: 12.5%;
			p {
				color: #000;
				font-size: 1rem;
			}
			ul {
				list-style: none;
				li::before {
					content: '\2022';
					color: #740d03;
					margin-left: -1em;
					margin-right: 1em;
				}
			}
		}
		.front-page-grid--planeje-contato {
			background-color: #740d03;
			color: #fff;
			h5 {
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
				margin-top: 1rem;
			}
			p, span {
				color: #fff;
				font-weight: 300;
				font-size: 1rem;
			}
		}
	}
}

hr.mi-hr {
    border-color: #740d03;
    border-width: 8px;
    width: 300px;
    margin-left: 0;
    &.title {
        border-width: 4px;
        width: 200px;
    }
    @media only screen and (max-width: 576px) {
        width: 280px;
    }
}

.tainacan-footer {
	background-color: #740d03 !important;
	.tainacan-itaipu-footer--barra-logos {
		padding-bottom: 50px !important;
		margin-top: 50px;
		.col-12 {
			align-self: center;
		}
		img:not(.not-width) {
			width: 140px;
		}
		.not-width {
			width: 100%;
		}
	}
}

.margin-two-column {
	&.no-mobile {
		@media only screen and (max-width: 576px) {
			margin: 0 !important;
		}
	}
}