/***
* ACESSIBILIDADE
***/

/*
* BARRA DE ACESSIBILIDADE
*/

.accessibility-bar {
	width: 100%;
	position: relative;
	background-color: #e2e2e2;
	z-index: 4;

	.container {
		min-height: 45px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
}
.accessibility-shortcuts {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	display: flex;
}
.accessibility-shortcuts--hidden {
	position: fixed;
	top: -50px;
	left: -50px;
	opacity: 0;
	z-index: -2;
}
.accessibility-shortcuts {
	li { margin: 0 5px; }

	a {
		padding: 15px 10px 15px 25px;
		font-weight: 400;
		font-size: 12px;
		color: #000;
		line-height: normal;
		display: block;
		position: relative;

		span {
			width: 16px;
			height: 16px;
			margin-right: 10px;
			font-weight: 400;
			font-size: 12px;
			color: #fff;
			line-height: 16px;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			background: #515151;
			transform: translate(0,-50%);
		}
	}
}
.accessibility-options { display: none; }
body {
	&.js {
		.accessibility-options {
			height: 24px;
			margin-left: -10px;
			margin-right: -10px;
			margin-bottom: 0;
			padding: 0;
			display: flex;
			list-style: none;
		}
	}
}
.accessibility-options {
	li {
		height: 24px;
		margin: 0 10px;
		display: flex;
		align-items: center;
	}

	span {
		height: 14px;
		margin-right: 6px;
		font-weight: 400;
		font-size: 12px;
		color: #000;
		line-height: normal;
		display: block;
	}

	button {
		width: 16px;
		height: 16px;
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: 11px;
		color: #fff;
		line-height: 16px;
		text-align: center;
		cursor: pointer;
		display: block;
		border: none;
		background: #515151;

		& + button { margin-left: 6px; }
	}

	.button-high-contrast {
		width: 20px;
		height: 20px;
		text-indent: -99999px;
		line-height: 20px;
		overflow: hidden;
		position: relative;
		border-radius: 50%;
		border: 1px solid #000;
		background-color: #fff;

		&:after {
			content: "";
			width: 10px;
			height: 20px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000;
		}
	}
}

@media screen and (min-width: 992px) {
	.accessibility-bar .container { max-width: 950px; }
}
@media screen and (max-width: 800px) {
	.accessibility-bar .container {
		padding: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.accessibility-shortcuts {
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.accessibility-options { margin-top: 20px; }
	.accessibility-options button {
		width: 23px;
		height: 23px;
		line-height: 23px;
	}
}

/* MODO COMPACTO DA BARRA DE ACESSIBILIDADE */

.accessibility-bar.compact-mode {
	position: absolute;
	top: 0;
	border: none;
	background: none;
	transform: translate(0,-100px);

	.accessibility-options { display: none; }
	.accessibility-shortcuts a {
		padding: 5px 10px;
		position: absolute;
		top: 20px;
		left: 50%;
		opacity: 0;
		background-color: #fff;
		z-index: -2;
		transform: translate(-50%,100px);

		&:focus {
			opacity: 1;
			z-index: 2;
		}
	}
}

@media screen and (max-width: 500px) {
	.accessibility-bar.compact-mode .accessibility-shortcuts a:focus { transform: translate(-50%,160px); }
}

.center-absolute {
	position: absolute;
    margin-left: -50px;
    top: 52%;
    margin-top: -50px;
    overflow: hidden;
}


noscript {
	margin: 0;
	padding: 12px 15px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	display: block;
	background-color: #740d03;
}

.carousel-destaque {
	* { 
		min-height: 0; 
		min-width: 0; 
	}
	margin-bottom: 10px;
    position: relative;
	.carousel-destaque--control {
		width: 50px;
		min-height: 180px;
		height: auto;
		right: 4px;
		z-index: 2;
		top: 43%;
		@extend .center-absolute;
		@media only screen and (max-width: 576px) {
			width: 36px;
			top: 8%;
		}
		button {
			width: 40px;
			height: 40px;
			font-size: 32px;
			color: #740d03;
			cursor: pointer;
			overflow: hidden;
			border: none;
			background: 0 0;
			&:focus {
				outline: none;
			}
			&.control__prev {
				position: absolute;
				top: 0;
			}
			&.control__next {
    			bottom: 0;
				position: absolute;
			}
		}
	}
	.carousel-destaque--loop {
		margin: 0;
		padding: 0;
		list-style: none;
		img {
			width: 100%;
			max-height: 420px;
			display: block;
			object-fit: cover;
			object-position: center 25%;
			padding-left: 4.16666666667%;
			padding-right: 4.16666666667%;
			@media only screen and (max-width: 576px) {
				padding: 0;
				max-width: 323px;
			}
		}

		.slick-list {
			.slick-slide {
				> div {
					li {
						display: flex !important;
						align-items: center;
						@media only screen and (max-width: 576px) {
							align-items: unset;
							min-height: 490px;
						}
						a {
							min-width: 100%;
						}
					}
				}
			}
		}

		.slick-dots {
			width: 50px;
			height: auto;
			max-height: 256px;
			padding: 10px 0 30px;
			display: block !important;
			@extend .center-absolute;
			right: -1px;
			@media only screen and (max-width: 576px) {
				width: 35px;
				top: 15%;
			}
			li {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0 10px;
				display: block;
				button {
					width: 14px;
					height: 14px;
					display: block;
					background-color: #d9d9d9;
					&:before {
						content: "";
					}
				}
				&.slick-active {
					button {
						background-color: #740d03;
					}
				}
				+ li {
					margin-top: 10px;
				}
			}
		}
	
		.carousel-destaque--loop-content {
			background-color: #f1f1f1;
			max-width: 600px;
			min-height: 275px;
			padding: 1rem 4.16666666667%;
			position: absolute;
			/* top: 28%; */
			@media only screen and (max-width: 576px) {
				bottom: 0;
				max-width: 310px;
				min-height: 222px;
			}
			.carousel-destaque--loop-content-title {
				color: #333333;
				font: {
					size: 40px;
					weight: bold;
				}
				&:hover {
					text-decoration: none;
				}
				@media only screen and (max-width: 576px) {
					font: {
						size: 24px;
						weight: 800;
					}	
				}
				@media only screen and (min-width: 577px) and (max-width: 768px) {
					font: {
						size: 30px;
					}	
				}
			}
			.carousel-destaque--loop-content-description {
				p {
					font: {
						size: 18px;
						weight: 400;
					}
					@media only screen and (max-width: 576px) {
						font: {
							size: 14px;
						}
						margin-top: 1rem;
					}
					@media only screen and (min-width: 577px) and (max-width: 768px) {
						font: {
							size: 16px;
						}	
					}
				}
			}
		}
	}
}

nav.menu-belowheader {
	border-bottom-color: #b4b4b4 !important;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.tainacan-list-post .tainacan-list-collection--container-card {
	display: block !important;
	width: 100%;
	margin-top: 85px;
	.slick-slide {
		margin-right: 70px;
	}
	.tainacan-list-collection--card-link {
		max-width: 213px;
	}
	.tainacan-list-collection--card-title {
		max-width: 186px;
		@media only screen and (max-width: 576px) {
			margin-left: 65px;
		}
	}
	img.tainacan-list-collection--grid-img {
		max-width: 213px;
		margin-right: 1rem;
	}
	.image-placeholder {
		@media only screen and (max-width: 576px) {
			margin-right: auto !important;
		}
	}
}

.front-page {
	margin-bottom: 170px !important;
	&.planeje-visita {
		margin-bottom: 85px !important;
	}
	&.historico-museu-title {
		margin-bottom: 55px !important;
	}
	&.historico-museu-content {
		margin-bottom: 150px !important;
	}
	&.to-pages {
		margin-bottom: 85px !important;
	}
	&.collections {
		margin-bottom: 85px !important;
	}
	&.contato-page {
		margin-bottom: 85px !important;
	}
	&.eventos-noticias {
		margin-bottom: 85px !important;
	}
	h1 {
		font-size: 24px;
		font-weight: 600;
	}
	p {
		color: #808081;
		text: {
			align: justify;
			justify: inter-word;
		}
		font: {
			size: 14px;
		}
		&.italic {
			font: {
				style: italic;
			}
		}
	}
	.front-page-list--collection {
		.next-prev-buttons--carousel {
			position: absolute;
			display: block;
			height: 33px;
			width: 45px;
			line-height: 0px;
			font-size: 3.75rem;
			color: #740d03;
			cursor: pointer;
			background: transparent;
			top: 50%;
			@media only screen and (max-width: 576px) {
				top: 60%;
			}
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			padding: 0;
			border: none;
			outline: none;
			z-index: 99;
		}
		.front-page-list--collection-prev {
			@extend .next-prev-buttons--carousel;
			left: -50px;
			@media only screen and (max-width: 576px) {
				left: -25px;
			}
		}
		.front-page-list--collection-next {
			@extend .next-prev-buttons--carousel;
			right: -10px;
			@media only screen and (min-width: 992px) {
				right: -35px;
			}
		}
	}
	&.bg-color {
		background-color: #740d03;
		color: #fff;
		h5 {
			font-weight: 700;
		}
		h1 {
			display: none !important;
		}
		.front-page-historico {
			.media {
				flex-wrap: wrap;
				margin-bottom: 2rem;
				img {
					width: 320px;
    				height: 320px;
					object-fit: cover;
				}
				.media-body {
					p {
						margin-left: 4.16666666667%;
						line-height: 1.2;
						color: #fff;
						font-size: 1rem;
						font-weight: 400;
						text-align: justify;
						@media only screen and (max-width: 576px) {
							margin-top: 1rem;
							margin-left: 0;
						}
					}
					.more-link {
						color: #fff;
						float: right;
						margin-top: 2rem;
						font-size: 0.875rem;
					}
					figcaption {
						display: none;
					}
					@media only screen and (max-width: 576px) {
						.alignleft {
							margin: 0;
							margin-bottom: 2rem;
							img {
								padding: 0;

							}
						}
					}
				}
			}
		}
	}
	.front-page-historico {
		.media-body {
			h1 {
				font-size: 20px;
				margin-top: 70px;
			}
			.alignleft {
				img {
					padding-right: 33px;
					padding-bottom: 0;
					padding-left: 0;
					padding-top: 12px;
					max-width: 450px;
					@media only screen and (max-width: 576px) {
						max-width: 100%;
					}
				}
				figcaption {
					text-align: left;
				}
			}
			p {
				font-size: 16px;
				color: #000;
			}
		}
	}
	.front-page-exposicoes {
		margin-top: 85px !important;
		p {
			color: #000;
			font-size: 1rem;
		}
		.more-link {
			float: right;
			margin-bottom: 3rem;
			margin-top: 2rem;
			font-size: 0.875rem;
		}
	}
	.front-page-grid {
		.front-page-grid-image {
			img {
				max-width: 100%;
				width: 434px;
				max-height: 100%;
				height: 392px;
				object-fit: cover;
				object-position: center top;
			}
		}
		.front-page-grid--planeje-dados {
			color: #000;
			@media only screen and (max-width: 1799px) {
				margin-left: 8.33333333334%;
			}
			padding-left: 0 !important;
			padding-right: 12.5%;
			p {
				color: #000;
				font-size: 1rem;
			}
			ul {
				list-style: none;
				li::before {
					content: '\2022';
					color: #740d03;
					margin-left: -1em;
					margin-right: 1em;
				}
			}
		}
		.front-page-grid--planeje-contato {
			background-color: #740d03;
			color: #fff;
			h5 {
				font-weight: 600;
			}
			p {
				margin-bottom: 0;
				margin-top: 1rem;
			}
			p, span {
				color: #fff;
				font-weight: 300;
				font-size: 1rem;
			}
		}
	}
}

hr.mi-hr {
    border-color: #740d03;
    border-width: 8px;
    width: 300px;
    margin-left: 0;
    &.title {
        border-width: 4px;
        width: 200px;
    }
    @media only screen and (max-width: 576px) {
        width: 280px;
    }
}

.tainacan-list-post {
	.blog-post {
		.blog-thumbnail img {
			width: 300px;
			height: 193px;
			object-fit: cover;
			object-position: top center;
		}
	}
}

.tainacan-footer {
	background-color: #740d03 !important;
	.tainacan-itaipu-footer--barra-logos {
		padding-bottom: 50px !important;
		margin-top: 70px;
		.col-12 {
			align-self: center;
		}
		img:not(.not-width) {
			width: 140px;
		}
		.not-width {
			width: 100%;
		}
	}
}

.margin-two-column {
	&.no-mobile {
		@media only screen and (max-width: 576px) {
			margin: 0 !important;
		}
	}
}

@media screen and (min-width: 992px) {
	nav.menu-belowheader #menubelowHeader>ul>li.menu-item {
		padding-right: 15px;
	}
}

.page-header {
	align-items: flex-start;
	@media only screen and (max-width: 576px) {
		&.page-height {
			margin-bottom: 4rem;
			> div {
				align-items: flex-end;
				margin-bottom: 0 !important;
			}
		}
		.title-header {
			max-height: 80px;
			&.singular-title {
				h1 {
					font-size: 1.575rem;
				}
			}
		}
	}
	.collection-header--share {
		top: 75%;
		width: 50px;
    	height: 50px;
		.rotater:nth-child(1) {
			transform: rotate(-28.5deg);
		}
	}
	.ph-title-description {
		position: absolute;
		top: -20px;
		.bg-white-title {
			background-color: #e2e4e7 !important
		}
		@media only screen and (max-width: 576px) {
			top: 89%;
		}
	}
	.title-header {
		&.singular-title {
			@media only screen and (min-width: 769px) {
				padding: 1rem 4.166667%;
			}
			h1 {
				font-size: 1.875rem;
			}
		}
	}
	/* BOX DE PESQUISA */

	.search-box {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		right: 3.5%;
		overflow: hidden;
		border-radius: 27px;
		background-color: #fff;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		z-index: 2;
		transition: width 400ms ease-in-out;
		@media only screen and (max-width: 360px) {
			top: 30%;
			right: 2.5%;
		}
		@media only screen and (min-width: 365px) and (max-width: 768px) {
			top: 30%;
			right: 3.5%;
		}
		&.active { width: 353px; }
		legend {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
		input[type=text] {
			width: 300px;
			height: 53px;
			padding: 0 20px;
			line-height: 53px;
			position: absolute;
			top: 0;
			left: 0;
			border: none;
			border-radius: 27px 0 0 27px;
			background: none;
		}
		button[type=submit] {
			width: 50px;
    		height: 50px;
			margin: 0;
			padding: 0;
			font-size: 1.5rem;
			color: #000;
			text-align: center;
			line-height: 53px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 50%;
			border: none;
			background: none;
			i.mdi{ border-radius: 50%; }
			&:focus {
				outline: none;
			}
		}
	}
	/* BOX DE COMPARTILHAMENTO */
}

body.contraste {
	background-color: #000 !important;

	* {
		color: #fff !important;
		border-color: #fff !important;
		background-color: #000 !important;
	}

	.header h1 img { background-color: #fff !important; }

	.accessibility-options .button-high-contrast { background-color: #fff !important; }

	a { text-decoration: underline !important; }
	a:visited { color: #740d03 !important; }

	.accessibility-bar { border-bottom: 1px solid #fff !important; }

	img,
	.accessibility-options button { border: 1px solid #fff !important; }

	.accessibility-shortcuts li,
	.carousel-schedule .title-1 { background-color: transparent !important; }

	.accessibility-shortcuts a span {
		color: #000 !important;
		background-color: #fff !important;
	}

	.searchform {
		input[type=submit],
		button[type=submit] { border: 1px solid #fff !important; }
	}

	.form-newsletter {
		button[type=submit],
		input[type=submit] {
			border-top: 1px solid #fff !important;
			border-right: 1px solid #fff !important;
			border-bottom: 1px solid #fff !important;
		}
	}
}

.btn-mai {
	color: #fff;
    background-color: #740d03;
	border-color: #740d03;
	border-radius: 0;
	&:hover {
		color: #fff;
		background-color: #740d03;
		border-color: #740d03;
	}
	&:focus {
		box-shadow: none;
	}
}

nav.menu-shadow {
	.max-large .tainacan-logo .logo {
		max-height: 80px;
		max-width: 300px;
		@media only screen and (max-width: 576px) {
			max-height: 100%;
			height: auto;
			max-width: 260px;
		}
	}
	max-height: 75px;
	.max-large {
		margin-bottom: 1rem;
	}
}

div#wrapper-barra-brasil {
    margin: 0 4.16666666667% !important;
    max-width: 1237px !important;
}

[aria-label=breadcrumb] {
	margin-top: 25px !important;
	margin-bottom: 65px;
}